<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="Randomizer" class="example.randomizer.Randomizer">
        <constructor-arg>
            <bean class="java.util.Random"/>
        </constructor-arg>
        <constructor-arg type="int" value="15"/>
        <constructor-arg type="boolean" value="false"/>
    </bean>
</beans>